<%= turbo_frame_tag "modal" do %>
  <div class="bob">

    <div>
    <%= link_to "X", "#", data: { controller: "modals", action: "modals#close" }, class: "cancel-button" %>
    </div>

    <h1>Editing budget</h1>

    <%= render "form", budget: @budget %>

    <br>

    <div>
      <%= link_to "Show this budget", @budget %> |
      <%= link_to "Back to budgets", budgets_path %>
    </div>
  </div>

<% end %> 
    