<p style="color: green"><%= notice %></p>

<h1>Budgets</h1>

<div class="row">
  <div class="col-lg-3">
    <div class="budgets">
      <div class="container text-left">
        <div class="col my-auto">
          <p> ARCHIVE: </p>
          <% @archive_months.each do |month| %>
            <%= link_to month.strftime('%B %Y'), budgets_path(archive_month: month), class: 'btn btn-link d-block mb-2' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-9">
    <div class="budgets">
      <div class="container text-center">
        <div class="row">
          <div class="col my-auto"><strong>Category:</strong></div>
          <div class="col my-auto"><strong>Budget Amount:</strong></div>
          <div class="col my-auto"><strong>Fact Amount:</strong></div>
          <% unless @budget_categories.empty? %>
            <% unless @budget_categories.first[:archive_month] %>
              <div class="col my-auto"><strong>Actions:</strong></div>
            <% end %>
          <% end %>
        </div>

        <% @budget_categories.each do |category| %>
          <div class="row">
            <div class="col my-auto"><%= category[:category] %></div>
            <div class="col my-auto">$<%= number_with_precision(category[:budget_amount], precision: 0) %></div>
            <div class="col my-auto">$<%= number_with_precision(category[:fact_amount], precision: 0) %></div>
            <% unless category[:archive_month] %>
              <div class="col my-auto">
                <%= link_to 'Edit', edit_budget_path(category[:budget_id]), data: { turbo_frame: "modal"}, class: 'btn btn-secondary btn-sm' %>
              </div>
            <% end %>
          </div>
        <% end %>

        <%= form_with(model: @budget, url: budgets_path, local: true) do |form| %>
          <% if @budget && @budget.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@budget.errors.count, "error") %> prohibited this budget from being saved:</h2>
              <ul>
                <% @budget.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <% unless @budget_categories.empty? %>
            <% unless @budget_categories.first[:archive_month] %>
              <div class="row">
                <div class="col">
                  <%= form.text_field :category_name, class: "form-control", placeholder: "Category" %>
                </div>
                <div class="col">
                  <%= form.number_field :budget_amount_cents, value: @budget.budget_amount_cents, class: "form-control", placeholder: "Budget Amount" %>
                </div>
                <div class="col my-auto">
                  <%= form.submit "Submit", class: "btn btn-primary" %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %> <!-- Ensure this 'form_with' block is properly closed -->
      </div>
    </div>
  </div>
</div>
