<p style="color: green"><%= notice %></p>

<h1>Budgets</h1>

<div class="row">
  <div class="col-4 my-auto">

  </div>
</div>
<div class="row">
  <div class="col-lg-3">
    <div class="budgets">
      <div class="container text-left">
        <div class="col my-auto">
          <p> ARCHIVE: </p>
          <p> June 2024 </p>
          <p> May 2024 </p>
          <p> April 2024 </p>
          <p> March 2024 </p>
          <p> February 2024 </p>
          <p> January 2024 </p>
          <p> December 2023 </p>
          <p> November 2023 </p>
          <p> October 2023 </p>
          <p> September 2023 </p>
          <p> August 2023 </p>
          <p> July 2023 </p>
          <p> June 2023 </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-9">
  <div class="budgets">
    <div class="container text-center">
      <div class="row">
        <div class="col my-auto"><strong>Category:</strong></div>
        <div class="col my-auto"><strong>Budget Amount:</strong></div>
        <div class="col my-auto"><strong>Fact Amount:</strong></div>
      </div>
      <% @budget_categories.each do |category| %>
        <%= render 'budget_category', category: category %>
      <% end %>
      
      <!-- Form for creating a new budget category -->
      <%= form_with(model: Budget.new, url: budgets_path, local: true) do |form| %>
        <div class="row">
          <div class="col">
            <%= form.text_field :category, class: "form-control", placeholder: "Category" %>
          </div>
          <div class="col">
            <%= form.number_field :budget_amount, class: "form-control", placeholder: "Budget Amount" %>
          </div>
          <div class="col my-auto">
            <!-- Fact Amount will be calculated based on transactions -->
            <%= form.submit "Submit", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

</div>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <%= value %>
  </div>
<% end %>
