<p style="color: green"><%= notice %></p>

<h1>Budgets</h1>

<div id="budgets">
  <% @budget_categories.each do |category| %>
    <p>
      <strong>Category:</strong> <%= category[:category] %><br>
      <strong>Budget Amount:</strong> $<%= number_with_precision(category[:budget_amount], precision: 0) %><br>
      <strong>Fact Amount:</strong> $<%= number_with_precision(category[:fact_amount], precision: 0) %><br>
    </p>
  <% end %>
</div>

<%= link_to "New budget", new_budget_path %>
