<p style="color: green"><%= notice %></p>

<h1>Transactions</h1>

<div class="transactions-nav">
  <div class="">
    <strong>
      Add a new transaction:
    </strong>
    <%= link_to "New transaction", new_transaction_path, class:"btn btn-outline-success" %>
  </div>
  <div class="">
    <%= form_with url: "/search", method: :get do |form| %>
    <%= form.text_field :search, placeholder:"Search" %>
    <%= form.submit "Search", class:"btn btn-success" %>
    <% end %>
  </div>  
</div>

<div class="transactions">
  <div class="container text-center">
    <div class="row">
      <div class="col my-auto">Date:</div>
      <div class="col my-auto">Merchant:</div>
      <div class="col my-auto">Amount:</div>
      <div class="col my-auto">Category:</div>
      <div class="col my-auto">Account:</div>
      <div class="col-1 my-auto">Edit:</div>
    </div>
    <% @transactions.each do |transaction| %>
      <%= render transaction %>
    <% end %>
  </div>
</div>
