

<tr >
  <td>
    <%= charge.date %>
  </td>
  <td>
    <%= charge.merchant %>
  </td>
<td>
  <% if charge.transaction_type == 'expense' %>
    <%= "-#{number_to_currency(charge.amount.abs, format: "%u%n")}" %>
  <% else %>
    <%= "+#{number_to_currency(charge.amount, format: "%u%n")}" %>
  <% end %>
</td>
  <td>
    <%= charge.category.name %>
  </td>
  
  <!--
  <td >
    <%= link_to "Edit", edit_transaction_path(charge), data: { turbo_frame: "modal"}, class: "btn btn-outline-primary" %>
  </td>
  --> 

</tr>
