<p style="color: green"><%= notice %></p>

<div class="account-title">
  <h1><strong><%= @account.name %></strong> - <%= @account.account_type %></h1>
  <span class="edit-account"><%= link_to "Edit account", edit_account_path(@account), data: { turbo_frame: "modal"}, class:"btn btn-outline-primary" %></span>
</div>

<section class="account-info">

  <div class="side-bar">
    <div class="accounts-menu">
      <h3 class="side-bar-account">Accounts</h3>
      <% @accounts.each do |account| %>
        <%= link_to account_path(account), class: "no-underline" do %>
        <div class="side-bar-account"><%= account.name %></div>
        <% end %>
      <% end %>
    </div>
  </div>

  <article class="account-contents">
    <div>
      <% if @account.credit? %>
        <h2 class="account-balance">
          <strong>Balance:</strong> <%= humanized_money_with_symbol(Money.new(@account.current_balance_cents.abs)) %>
        </h2>
      <% else %>
        <h2 class="account-balance">
          <strong>Balance:</strong> <%= humanized_money_with_symbol(Money.new(@account.current_balance_cents)) %>
        </h2>
      <% end %>
        <h2><strong>Transactions:</strong></h2>

      <div class="row-container">
        <div class="container text-center">
          <div class="row">
            <div class="col my-auto"><strong>Date:</strong></div>
            <div class="col my-auto"><strong>Merchant:</strong></div>
            <div class="col my-auto"><strong>Amount:</strong></div>
            <div class="col my-auto"><strong>Category:</strong></div>
            <div class="col-1 my-auto"><strong>Edit:</strong></div>
          </div>
        

          <% @account_transactions.each do |charge| %>
            <%= render partial: 'charge', locals: { charge: charge } %>
          <% end %>

        </div> 
      </div>
    </div>
  </article>

</section>